.hero-section{
    position: absolute;
    top: 110px;
    height: 600px;
    width: 100%;
    background: #FFFFFF;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),url(/static/black\ hero\ section.jpg);
    background-repeat: no-repeat;
    background-size:contain;
    background-position: center;
    
}


.firstSection80 {
    position: absolute;
    width: 66%;
    height: 246px;
    left: 59px;
    top: 1023px;
    color: #FFFFFF;
  
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 48px;


}
.firstSection80 h2 {
    position: relative;
    top: 25%;
    left: 14%;

}

.firstSection40 {
    position: absolute;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-size: 20px;
    line-height: 48px;
    font-weight: 700;
    width: 20%;
    height: 246px;
    left: 933px;
    top: 1023px;
    color: #FFFFFF;


}

.firstSection40 h4 {
    font-weight: 500;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-size: 14px;
    line-height: 29px;
}

.secondSection {
    position: absolute;
    width: 100%;
    height: 181px;
    left: 0px;
    top: 732px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;


}

.secondSection h2 {
    position: relative;
    width: max-content;
    height: 56px;
    color: white;
    left: 10%;
    top: 10px;
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
}

.thirdSec {
    position: absolute;
    width: 100%;
    height: 181px;
    left: 0px;
    top: 823px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
}

.thirdSec h3 {
    position: relative;
    color: #FFFFFF;
    left: 23%;
    width: max-content;
    top: 0px;
    font-weight: 400;
    font-size: 24px;
    line-height: 40px;
}
