{% extends "base.html" %}
{% block title %}about{% endblock %}
{% block activeAbout%}active{% endblock %}


{% block body %}
<link rel="stylesheet" href="static/aboutstyle.css">
<div class="aboutfirstSection">
<h1>Get a Job with us and change your life stop suffering with sapa</h1>
<h4>And start making money faster with the men for hire</h4>
</div>

<div class="aboutsecondSection">
    <div>       
            <h2>Get a Job with us and change your life </h2>
            <h4 >working with us is just a phenomenal experience you should apply for a job </h4>
    </div>
    <div>       
        <h2>Get a Job with us and change your life </h2>
        <h4>working with us is just a phenomenal experience you should apply for a job </h4>
</div>
<div>      
    <h2>Get a Job with us and change your life </h2>
    <h4>working with us is just a phenomenal experience you should apply for a job </h4>
</div>
</div>
{% endblock %}