{% extends "base.html" %}
{% block title %}contact{% endblock %}
{% block activeContact%}active{% endblock %}

{% block body %}
<link rel="stylesheet" href="static/contactstyle.css">
<div class="back">
    <div class="image">
        <h2>Have a place in
            mind? </h2>

            <h3>
                Reach out to us and we can make that place your new
                workplace we might already know your new boss come 
                and try us and see say no to hunger.
            </h3>
        <div class="add">
            <h2>Address</h2>
            <h3>Abuja Veritas university</h3>
        <div class="email">
            <h2>Email</h2>
            <h3>Men4Hire@gmail.com</h3>
        </div>
        <div class="num">
            <h2>Phone number</h2>
            <h3>+234-805-396-4826</h3>
        </div>
        </div>
    </div>
</div>

{% endblock %}