{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block activeHome%}active{% endblock %}
{% block body %}
<link rel="stylesheet" href="static/homestyle.css">
<div class="firstSection80">
    <h2>Get a change of pace and join the race </h2>
 </div>
 <div class="firstSection40">
    <h2>Get a Job with us and change your life stop living with poverty </h2>
    <h4>working with us is just a phenomenal experience you should apply for a job </h4>
 </div>
<div class="secondSection">
    <h2>Get a Job with us and change your life stop suffering ,with sapa </h2>
</div>
<div class="thirdSec"> 
    <h3>And start making money faster with the men for hire</h3>
</div>
{% endblock %}