{% extends "base.html" %}
{% block title %}Myresume{% endblock %}
{% block activeResume%}active{% endblock %}

{% block body %}
<link rel="stylesheet" href="static/Myresumestyle.css">
<div class="first">
    <div class="upper">
        <h1>Upload your own Resume</h1>
    </div>
    <div class="lower">
        <h1>Create a resume from template</h1>
    </div>
</div>


<div class="second">
    
        <h1>Get a job with ease and change your life please end world hunger</h1>
        <h3>working with us is just a phenomenal experience you should apply for a job </h3>
    
</div>
{% endblock %}