{% extends "base.html" %}
{% block title %}profile{% endblock %}
{% block activeProfile%}active{% endblock %}

{% block body %}
<link rel="stylesheet" href="static/profilestyle.css">



<div class="profile"></div>
<div class="profiledef">
    <h2>Mr bobobo - bobobo</h2>
    <h3>CEO "Admin dept."</h3>
</div>
<div class="desc">
    <h2>A very creative front-end developer</h2>
    <h3>Intelligent,crafty,and very hardworking has special interest in helping poor people live better lives, to prevent poverty from ravaging the world he has taken it upon himself to look for jobs for the talented , qualified or unqualified poor people willing and able to work</h3>
</div>
<div class="recentjobs">
    <h2>Recent jobs</h2>

    <div class="firstjob"></div>

    <div class="secondjob"></div>
    <div class="thirdjob"></div>
   

</div>
{% endblock %}